body {
background: @bg-color;
font-family: 'pt_sansbold';
}

*{
margin:0px;
padding:0px;
-webkit-transition: width 0.6s linear;
-moz-transition: width 0.6s linear;
-o-transition: width 0.6s linear;
-ms-transition: width 0.6s linear;
transition: width 0.6s linear;
}

/* FRAMEWORK */
:focus{outline:none;}
.fleft{float:left;}
.fright{float:right;}
.overflow{overflow:hidden;}
.clear{clear:both;}
.off {display:none;}
.center {text-align:center;}
.inline{display: inline;}
.inline-block {display: inline-block;}
.block {display: block;}
.upper {text-transform: uppercase;}
.mcenter {margin: 0 auto;}
.underline {text-decoration: underline;}
ul{list-style:none;}
a {text-decoration: none;} 
/* --- */

/* VARIABLES */
 /* MY SITE COLORS*/
 	@bg-color: #000000;
 	@header-color: #8d8d8d;
 /* --- */


/* --- */

/* MIXINS */
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
}

.size(@width: 1em, @height: 1em){
	width: @width;
	height: @height;
}

.font(@font-size: 1em, @line-height: 1,2em){
	font-size: @font-size;
	line-height: @line-height;
}

.bsize(@bwidth: 50%, @bheight: auto){
  -webkit-background-size: @bwidth @bheight;
  background-size: @bwidth @bheight;
}


.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}

/* --- */

/*  FONTS */

@font-face {
    font-family: 'pt_sansbold';
    src: url('/fonts/pt-sans-bold_allfont.ru-webfont.eot');
    src: url('/fonts/pt-sans-bold_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt-sans-bold_allfont.ru-webfont.woff') format('woff'),
         url('/fonts/pt-sans-bold_allfont.ru-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* ---  */

.wrap {.size(980px,0px); .mcenter;}
.main-bg {
	background: url("/images/main-bg.jpg") no-repeat #000000 center top;
	.size (100%,1045px)
}

header {
     color: @header-color;
	.logo {background: url("/images/logo.jpg") no-repeat; .size(270px,35px); margin: 25px 8px 0;}
	.callback {
		line-height: 17px;
		width: 175px;
		.icon-basket {background: url("/images/main-sprite.png") no-repeat scroll -99px -14px; .size (20px, 40px); padding: 0 3px;}
		.callback-phone {font-size: 18px;}
		a.callback-link {font-size: 13px; color: @header-color; .underline; &:hover{text-decoration: none;}}
	}


}