body {
background: @bg-color;
font-family: 'pt_sansbold';
}

*{
margin:0px;
padding:0px;
-webkit-transition: width 0.6s linear;
-moz-transition: width 0.6s linear;
-o-transition: width 0.6s linear;
-ms-transition: width 0.6s linear;
transition: width 0.6s linear;
}

/* FRAMEWORK */
:focus{outline:none;}
.fleft{float:left;}
.fright{float:right;}
.overflow{overflow:hidden;}
.clear{clear:both;}
.off {display:none;}
.center {text-align:center;}
.inline{display: inline;}
.inline-block {display: inline-block;}
.block {display: block;}
.upper {text-transform: uppercase;}
.mcenter {margin: 0 auto;}
.underline {text-decoration: underline;}
ul{list-style:none;}
a {text-decoration: none;} 
/* --- */

/* VARIABLES */
 /* MY SITE COLORS*/
 	@bg-color: #000000;
 	@header-color: #8d8d8d;
 /* --- */


/* --- */

/* MIXINS */
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.bg-pos (@pos1: 0px, @pos2: 0px){
  background-position: @pos1 @pos2;
}

.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
}

.size(@width: 1em, @height: 1em){
	width: @width;
	height: @height;
}

.font(@font-size: 1em, @line-height: 1,2em){
	font-size: @font-size;
	line-height: @line-height;
}

.bsize(@bwidth: 50%, @bheight: auto){
  -webkit-background-size: @bwidth @bheight;
  background-size: @bwidth @bheight;
}


.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}



/* --- */

/*  FONTS */

@font-face {
    font-family: 'pt_sansbold';
    src: url('/fonts/pt-sans-bold_allfont.ru-webfont.eot');
    src: url('/fonts/pt-sans-bold_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt-sans-bold_allfont.ru-webfont.woff') format('woff'),
         url('/fonts/pt-sans-bold_allfont.ru-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



/* ---  */

.wrap {.size(980px,0px); .mcenter;}
.main-bg {background: url("/images/main-bg.jpg") no-repeat #000000 center top; .size (100%,1045px)}

header {
color: @header-color;
	 .logo {background: url("/images/logo.jpg") no-repeat; .size(270px,35px); margin: 30px 8px 0;}
	 .callback { line-height: 17px; width: 175px; padding: 0 80px;

		  .icon-basket {background: url("/images/main-sprite.png") no-repeat scroll -99px -14px; .size (20px, 40px); padding: 0 3px;}
		  .callback-phone {font-size: 18px;}
		  a.callback-link {font-size: 13px; color: @header-color; .underline; &:hover{text-decoration: none;}}
	 }

   .mini-cart { font-size: 13px; width: 145px;

      .icon-cart {background: url("/images/main-sprite.png") no-repeat scroll -145px -14px; .size (30px, 40px); padding: 0 3px;}
   

   }


}

.top-menu {background: url("/images/top-menu-bg.png") no-repeat;.size(982px,100px); margin: 20px 0 0;

    ul{
     li {.fleft; padding: 0px 15px 0 5px;
        a { font-family: 'Myriad Pro'; color: #FFFFFF; .font(15px); .upper; .block; padding: 10px; margin: 13px 0 0;    transition: all 0.4s ease-in-out;
          &:hover {background: #ab0000; .rounded(@radius: 4px)}
        }
      }
    }

    .search { margin: 13px 10px 0; width: 311px;
       input.search-input {background: url("/images/search-bg.png") no-repeat; .size(275px, 35px); border: none; padding: 0 0 0 10px; .font(15px); color: #FFFFFF; }
       input.search-button {background: url("/images/search-button.png") no-repeat; border: none; .size(26px,34px); cursor: pointer;}
    }

}

 .catlog-menu { margin: 80px 10px 0;

    ul {
       li {.block; .fleft; width: 170px; padding: 0 0 10px; margin:0 70px 13px 0; background: url("/images/cat-menu-hr.png") no-repeat bottom;
         &:nth-child(4n+1) {clear: left; padding-left: 0;}
          a {.upper; .font(13px); color: #FFFFFF;  transition: all 0.2s ease-in-out;
           &:hover {color: #fe6745;}

        }
    }
}


 }

 #slides {margin: 200px 0 0; height: 310px;}
 .slides_container {.size(978px,380px);}
 .slides_container div {.block;}  

 #slides .pagination {margin: -145px 5px 0; position: relative; width: 100px; z-index: 99999;}

 #slides .pagination li {.fleft; list-style: none outside none; margin: 0 3px;}

 #slides .pagination li a {
    background-image: url("/images/pagination.png");
    background-position: 0 0;
    .block;
    .fleft;
    height: 0;
    overflow: hidden;
    padding-top: 12px;
    width: 12px;
}

 #slides .pagination li.current a {
    background-position: 0 -13px;
}


.banner-menu {position: relative; z-index: 1000; margin: 10px 0 0;
   .banner-menu-wrap {.size(325px,150px); .block; .fleft; background: url("/images/banner-menu-sprite.jpg") no-repeat; .center; color: #FFFFFF; .upper; .font(15px); overflow: hidden; 
      .overlay {.size(100%,100%); padding: 70px 0 0;  transition: all 0.3s ease-in-out;
      &:hover {background: rgba(169,0,0, 0.3);}
    }

    }
   .banner-pos1 {background-position: 0px 0;}
   .banner-pos2 {background-position: -321px 0;}
   .banner-pos3 {background-position: -654px 0;}
   .banner-pos4 {background-position: 0 -150px;}
   .banner-pos5 {background-position: -329px -150px;}
   .banner-pos6 {background-position: -654px -150px;}
}


.best-items {background: #FFFFFF; .size(975px,285px)}

#slides2 {
  position: relative;
  .slides_container { height: 247px;
    .best-items-main-wrap {margin: 35px 45px 0; width: 900px;}
    .best-items-img {}
    .best-items-wrap { width: 630px; margin: 13px 40px 0;
      .best-items-title {color: #d90b02; .font(30px); .underline;}
      .best-items-large-text {color: #737373; .font(15px, 22px); padding: 10px 0 20px;}
      .best-items-small-text {color: #a3a3a3; .font(13px, 16px)}
      .best-items-price {.font(30px); padding: 20px 0 0;}
    }

  }
  .next {left: 945px;}
  .next, .prev {.block; .size(25px,43px);position: absolute;z-index: 101;top:115px;}

  .prevbg {background: url("/images/main-sprite.png") no-repeat scroll -93px -51px rgba(0, 0, 0, 0); 
    &:hover {background-position: -93px -89px;}
  }
  .nextbg {background: url("/images/main-sprite.png") no-repeat scroll -152px -51px rgba(0, 0, 0, 0);
    &:hover {background-position: -152px -91px;}
  }

  
}

.materials {
  background: url("/images/stati-bg.jpg") no-repeat; .size(975px,337px);
  .material-wrap { 
    padding: 50px 15px 0;
    .material-title {background: url("/images/material-title.png") no-repeat; .size(365px,26px)}
  }

  ul { 
    margin: 35px 0 0;
    li {.block; .fleft; width: 240px; margin:0 70px 15px 0; background: url("/images/material-hr.png") no-repeat bottom; padding: 0px 0 15px;
      &:nth-child(3n+1) {clear: left; padding-left: 0;}
      a{color: #cacaca; .font(15px,22px); .underline;
        &:hover {text-decoration: none;}
       }
    }
  }
}

.under-content{ width: 680px; margin: 0 auto;

  .main-text{ margin: 40px 0 0;
    h2.main-text-title {.font(18px); color: #FFFFFF; .upper; font-weight: normal;}
    p {color: #8d8d8d; .font(13px,20px); padding: 7px 0;}
    p.main-text-white {.font(18px,24px); color: #FFFFFF;}
  }

  .main-news { height: 200px; margin: 25px 0 0; background: url("/images/news-hr.png") no-repeat bottom;
   h2.main-news-title {.font(18px); color: #FFFFFF; .upper; font-weight: normal;}
    .new-news { margin: 15px 0 0;
      .new-news-title {
       a {color: #8d8d8d; .font(13px,20px);
         &:hover {text-decoration: underline;}
        }
      }
      .new-news-date {color: #363636; .font(13px); margin: 5px 0 0;}
    }
  }


footer {
   .footer-menu { margin: 35px 0 0;
     ul {
        li { .fleft; padding: 0 30px 0 0;
          a { color: #FFFFFF; .font(13px,18px); .underline;
            &:hover {text-decoration: none;}
          }
        }
      }
    }
  }

.soc-block { margin: 25px 0 0;
  .soc-block-title {.font(13px,18px); color: #8d8d8d; }
  ul{margin: 10px 0 0;
    li { .fleft; padding: 0 10px 0 0;}
      .soc-wrap {background: url("/images/main-sprite.png") no-repeat; .size(30px,30px); .block;}
      .vk {.bg-pos(-15px,-149px)}
      .od {.bg-pos(-58px,-149px)}
      .ma {.bg-pos(-101px,-149px)}
      .fb {.bg-pos(-144px,-149px)}
      .go {.bg-pos(-187px,-149px)}
      .in {.bg-pos(-230px,-149px)}
    
  }
}

.copy {.font(13px,18px); color: #8d8d8d; margin: 35px 0 30px;}
}